body
{
    background-image: linear-gradient(to right top, #619c89, #5e2bd6, #c582a9, #7c4dba, #5d87be);
}


h1
{
  color:rgb(34, 33, 39);
  background-image:(#619c89, #5e2bd6, #c582a9, #7c4dba, #5d87be);
}

#show_sketch
{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px; 
    animation-iteration-count: infinite;
      
}



@keyframes example {
    from{box-shadow:1px 1px 38px grey ;}
    to {box-shadow:1px 1px 38px white;}
}


p
{
  padding-top:10px;
  font-size:25px;
}